body{
    zoom: 90%;
    margin-left: 325px;
    margin-top: 30px;
    margin-right: 325px;
    background-color: #F1F1F1;
}






.logs{
    display: flex;
}
#LICH1{
    margin-left: 40px;
    font-weight: 500px;
    font-size: 20px;
    
    color: #666666;
    font-weight: bold;
}

#LICHNUY_KABINET{
    margin-left: 550px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.li{
    list-style: none;
    margin: 45px;

}

.nav{
    display: flex;

}
.navig{
    text-decoration: none;
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}
.nls{
    margin-top: 40px;
    background-color: white;
    border-radius: 15px;
    
}
.Rectangle{
    margin-left: 40px;
}
#BUT{
    width: 177px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #CC9933;
    gap: 10px;
    padding: 13px 20px 13px 20px;
    background-color: white;
    color: #CC9933;
    margin-left: 40px;
    margin-top: 30px;


}
#BUT:hover{
    background-color: #A47312;
    color: white;
}

#BUT-1{
    width: 107px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #CC9933;
    gap: 10px;
    padding: 13px 20px 13px 20px;
    background-color: white;
    color: #CC9933;
    margin-left: 50px;
    margin-top: 30px;


}
#BUT-1:hover{
    background-color: #A47312;
    color: white;
    
}



.spec-1{
    margin-top: 70px;
    margin-left: 70px;
}

#onas h1{
    font-weight: 400px;
    font-size: 40px;
    line-height: 40px;
    margin-left: 70px;
}


.on{
    font-weight: 400px;
    font-size: 16px;
    line-height: 32px;
}

#onas{
    margin-left: 70px;
}

#yslygi h1{
    font-weight: 400px;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    left: 200px;
    top: 10px;
}

#yslygi{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 60px;
}



.ysl-2{
    margin-top: 110px;
}

.ysl-3{
    margin-top: 30px;
}
.img{
    margin-right: 23px;
}

.chast{
    width: 573px;
    height: 165px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    padding-top: 20px;


}

#names{
    font-weight: 500px;
    font-size: 20px;
    line-height: 40px;
    color: #CC9933;
    margin-left: 45px;
}

#name{
    font-weight: 400px;
    font-size: 16px;
    line-height: 32px;
    margin-left: 45px;
    margin-bottom: 35px;

}

.ysl-4{
    margin-top: 30px;
    position: relative;
    right: 596px;
    top: -384px;
}


.pr-1{
    width: 275px;
    height: 275px;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
}

.pr-1 img{
    margin-left: 45px;
    margin-top: 40px;
}
.pr-1 p{
    margin-left: 45px;
    margin-top: 40px;
}

.preim{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 220px;
}
#preim2{
    display: flex;
    position: relative;
    right: ;
    
}
.preim3{
    display: flex;
}

.preim h1{
    position: relative;
    bottom: 80px;
    left: 250px;
    font-weight: 400px;
    font-size: 40px;
    line-height: 40px;
}


.pr-2{
    width: 275px;
    height: 275px;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
   
}

.pr-2 img{
    margin-left: 45px;
    margin-top: 40px;
}
.pr-2 p{
    margin-left: 45px;
    margin-top: 40px;
}

.h1{
    position: relative;
    bottom: 400px;
    left: 120px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 40px;
}

.nav button:hover{
    background-color: #A47312;
    color: white;
    cursor: pointer;
}

#razm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    right: 140px;
    top: 5px;
}

.raz-1 img{
    margin: 23px;
}
.raz-1{
    position: relative;
    left: 130px;
    
}

.razz{
    width: 375px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
}

.df{
    background-color: white;
    height: 265px;
    width: 375px;
    margin-left: 20px;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    bottom: 70px;
    left: 2px;
}

#ret{
    position: relative;
    left: 106px;
    font-weight: 400px;
    font-size: 40px;
    line-height: 40px;
}
.df p{
    margin-left: 45px;
    position: relative;
    bottom: 15px;
}

.df button{
    width: 100px;
    height: 42px;
    border-radius: 10px;
    padding: 13px 20px 13px 20px;
    border: 1px solid #CC9933;
    color:#CC9933;
    background-color: white;
    position: relative;
    left: 40px;
    bottom: 15px;
}
.star{

}


#oi{
    position: relative;
    left: 50px;
   
}

.raz-2 img{
    margin: 23px;
}
.raz-2{
    position: relative;
    left: 135px;
}

.p{
    font-weight: 700px;
    font-size: 20px;
    line-height: 20px;
}
.z{
font-weight: 400px;
font-size: 16px;
line-height: 16px;
}
.v{
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
#gh{
    position: absolute;
    color: white;
    padding: 20px;
    top: 370px;
    left: 85px;
    font-weight: 500px;
    font-size: 20px;
    line-height: ;
}

.hochy_tur{
    display: flex;
    width: 1180px;
    height: 110px;
    border-radius: 15px;
    background-color: white;
    margin-top: 97px;
    position: absolute;
    bottom: 70px;
    margin-left: 30px;
}
.hoch-1 label{
    display: block;
    left: 45px;
    position: relative;
}
.hoch-1{
    margin: 30px;
}
.hoch-1{
    margin: 40px;
}
.hoch-2 label{
    display: block;
    left: 4px;
    position: relative;
}
.hoch-2{
    margin: 40px;
}

.hoch-1 button{
    width: 108px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #CC9933;
    color: #CC9933;
    background-color: white;
    position: relative;
    right: 60px;
}

#ggg{
    width: 1220px;
    height: 270px;
    border-radius: 15px;
    background-color: #E9E9E9;
    position: relative;
    left: 10px;
}
#ROMPOW61:hover{
    background-color: #CC9933;
    color: white;
    cursor: pointer;
}

#VV_XX:hover{
    background-color: #CC9933;
    color: white;
    cursor: pointer;
}
#vb{
    position: relative;
    top: 30px;
    left: 50px;
    
}
.POPO{
    position: relative;
    bottom: 20px;
    right: 16px;
}
#VV_XX:hover{
    
}

.back{
    margin-top: 340px;
}

.back{
    background-color: white;
    border-radius: 15px;
    height: 700px;


}

.kontakti{
    position: relative;
    left: 50px;
    top: 40px;
  
}
.rte{
    font-family: Muller;
    font-weight: 700px;
    font-size: 20px;
    line-height: 20px;
}

.rtw{
    font-family: Muller;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    left: 160px;
    top: -40px;
}
.rtm{
    font-family: Muller;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color:  #CC9933;
    position: relative;
    left: 160px;
    top: -40px;
}


#ttt{
    position: relative;
    top: 20px;
    right: 125px;
}

#ttd{
    position: relative;
    top: 20px;
    right: 132px;
}

.adres5 button{
    width: 213px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #CC9933;
    color: #CC9933;

    right: 7px;
    top: 30px;
    position: relative;
    font-weight: 700px;
    font-family: Muller;
    font-size: 16px;
    line-height: 16px;
    background-color: white;

}

.fdf{
    position: relative;
    top: 40px;
    right: 520px;
    width: 410px;
}
.fff{
    position: relative;
    left: 450px;
    top: -600px;
}

#V_B{
    position: relative;
    top: 300px;
}

#foot{
    width: 1220px;
    height: 400px;
    border-radius: 15px;
    background-color: #333333;
    bottom: 0;
    font-family: Muller;
    margin-top: 150px;
    position: relative;
    
}

.foot-1{
    font-weight: 400px;
    font-size: 16px;
    line-height: 30px;
    color: white;
    top: 45px;
    position: relative;
    left: 50px;
}
.foot-2{
    font-weight: 400px;
    font-size: 16px;
    line-height: 30px;
    color: white;
    position: relative;
    left: 50px;
    top: 60px;
}

.foot-3{
    position: relative;
    top: 50px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #CC9933;
    left: 50px;
    top: 120px;
}
.footss{
    position: relative;
    left: 520px;
    top: -215px;
}

.foot-4{
    font-weight: 400px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    top: 45px;
    position: relative;
}


.foot-5{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #CC9933;
    top: 45px;
    position: relative;
}

.foot-6{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #CC9933;
    top: 45px;
    position: relative;
}


.kartina{
    position: relative;
    left: 210px;
}

.kartina-2{
    position: relative;
    left: 340px;
    top: -120px;
}


#TEL{
    text-decoration: none;
    color:#CC9933;
}

#TEL:hover{
    text-decoration: none;
    color:white;
}



.social_links img{
    display: block;
    padding: 15px;
    position: relative;
    bottom: 360px;
    left: 570px;

}